{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% include './components/_navbar.html.twig' %}
    <div class="welcome">
        <img class="background-img" src="{{ asset('/build/images/girl-selfie.b780616d.jpg') }}" alt="">
        <div class="card guide-card mx-auto ">
            <div class="index-logo">
                <img class="index-logo" src="{{ asset('/build/images/logo.1855bc3b.png') }}" alt="">
            </div>
            <div class="index-logo">
                <img class="index-logo" src="{{ asset('/build/images/chiffre.0169ba7c.png') }}" alt="">
            </div>

        </div>
    </div>

{% endblock %}