{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="welcome">
        <img class="background-img" src="{{ asset('/build/images/girl-selfie.b780616d.jpg') }}" alt="">
        <div class="card welcome-card mx-auto ">
            <div class="index-logo">
                <img class="index-logo" src="{{ asset('/build/images/daylink-full.493695c5.png') }}" width="70%" alt="">
            </div>
            <div class="row d-inline-block mx-auto">
                <div class="welcome-btn">
                    <a role="button" class="btn connexion btn-block mt-3" href="{{ path('app_login') }}">
                        <p class="home-p">Connexion</p>
                    </a>
                    <a role="button" class="btn inscription btn-block" href="{{ path('app_register') }}">
                        <p class="home-p">Inscription</p>
                        <span class="arrow-btn">
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


