{% extends 'base.html.twig' %}

{% block body %}{{ form_start(form, {'attr': {'class': 'form-salon'}})  }}
<div class="mt-3">
    <p>Nom du salon</p>
    {{ form_row(form.name, {'attr': {'class': 'form-salon-name'}})  }}
</div>
<div class="mt-3">
    <p>Photo du salon</p>
    {{ form_row(form.picture, {'attr': {'class': 'form-salon-picture'}})  }}
</div>
<button class="btn-go" type="submit">C'est parti !</button>
{{ form_end(form) }}
{% endblock %}
