{% extends 'base.html.twig' %}

{% block title %}Edit Salon{% endblock %}

{% block body %}
    {% include './components/_navbar.html.twig' %}
    <h1>Edit Salon</h1>

    {{ include('salon/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('salon_index') }}">Retour</a>

    {{ include('salon/_delete_form.html.twig') }}
{% endblock %}
