{% extends 'base.html.twig' %}

{% block title %}Nouveau Salon {% endblock %}

{% block body %}
    {% include './components/_navbar.html.twig' %}
    {% include './component/_back.html.twig' %}

    <h1 class="nouveau-salon">Nouveau salon</h1>

    {{ include('salon/_form.html.twig') }}


{% endblock %}
