.form-log{
  border: none;
  border-bottom: 1px solid;
  margin-bottom: 1em;
}
.form-l {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-login {
  width: 296px;
  height: 33.38px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 63px;
  margin-top: 1em;
}

