body{
  background-image: url("https://i.postimg.cc/hPQ33QFf/homepage2.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: 120%;
  overflow-x: hidden;
}

.back-img{
  position: absolute;
  z-index: 1;
  width: 86%;
}

.front-items{
  position: relative;
  z-index: 2;
}
