.salon{
  margin-top: 2em;
  margin-inline-start: 0.7em;
  font-size: 7vw;
  font-weight: 600;
}

.beer{
  margin-inline-start: 3em;
}

.salon-name{
  margin-inline-start: 0.8em;
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: 300;
}

.salon-name-1{
  margin-left: 3.7em;
  font-size: 2.6rem;
  font-weight: 300;
}

.salon-name-2{
  margin-left: 5em;
  font-size: 2.6rem;
  font-weight: 300;
}